@import url('https://fonts.googleapis.com/css2?family=Asap&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292C34;
}

header {
    background-color: white;
    padding: 20px;
}

header h1 {
    color: red;
    font-family: asap, sans-serif;
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    color: white;
    font-size: 46px;
    text-align: center;
    font-family: asap, sans-serif;
    padding: 15px 20px;
    position: relative;
    /* align-items: center; */

}

.badge {
    color: white;
    background-color: #E2584E;
    font-size: 14px;
    padding: 2px 10px;
    font-family: asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result p {
    text-align: center;
    font-weight: bold;
    font-family: asap, sans-serif;
}

.choices {
    margin-top: 50px 0;
    text-align: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice img {
    height: 70px;
    width: 70px;
}

.choice:hover {
    cursor: pointer;
    background-color: #24272E;
}

#action-message {
    color: white;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-family: asap, sans-serif;
    font-size: 20px;
}

.green-glow {
    border: green;
    box-shadow: 0 0 10 #31ba34;
    /* horizontaloffset verticaloffset blur and color*/
}

.red-glow {
    border: #fc121b;
    box-shadow: 0 0 10 #d01115;
}

.gray-glow {
    border: #464647;
    box-shadow: 0 0 10 #25292b;
}

#btn-container {
    width: 10%;
    margin: auto;
    margin-top: 10px;

}

#reset-btn {
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 13px;
    font-family: asap, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}